@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";
@import '../node_modules/@mdxeditor/editor/dist/style.css';
@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  color-scheme: light dark;
  --background: light-dark(oklch(1 0 0), oklch(0.141 0.005 285.823));
  --foreground: light-dark(oklch(0.141 0.005 285.823), oklch(0.985 0 0));
  --card: light-dark(oklch(1 0 0), oklch(0.141 0.005 285.823));
  --card-foreground: light-dark(oklch(0.141 0.005 285.823), oklch(0.985 0 0));
  --popover: light-dark(oklch(1 0 0), oklch(0.141 0.005 285.823));
  --popover-foreground: light-dark(oklch(0.141 0.005 285.823), oklch(0.985 0 0));
  --primary: light-dark(oklch(0.21 0.006 285.885), oklch(0.985 0 0));
  --primary-foreground: light-dark(oklch(0.985 0 0), oklch(0.21 0.006 285.885));
  --secondary: light-dark(oklch(0.967 0.001 286.375), oklch(0.274 0.006 286.033));
  --secondary-foreground: light-dark(oklch(0.21 0.006 285.885), oklch(0.985 0 0));
  --muted: light-dark(oklch(0.967 0.001 286.375), oklch(0.274 0.006 286.033));
  --muted-foreground: light-dark(oklch(0.552 0.016 285.938), oklch(0.705 0.015 286.067));
  --accent: light-dark(oklch(0.967 0.001 286.375), oklch(0.274 0.006 286.033));
  --accent-foreground: light-dark(oklch(0.21 0.006 285.885), oklch(0.985 0 0));
  --destructive: light-dark(oklch(0.577 0.245 27.325), oklch(0.396 0.141 25.723));
  --destructive-foreground: light-dark(oklch(0.577 0.245 27.325), oklch(0.637 0.237 25.331));
  --border: light-dark(oklch(0.92 0.004 286.32), oklch(0.274 0.006 286.033));
  --input: light-dark(oklch(0.92 0.004 286.32), oklch(0.274 0.006 286.033));
  --ring: light-dark(oklch(0.871 0.006 286.286), oklch(0.442 0.017 285.786));
  --chart-1: light-dark(oklch(0.646 0.222 41.116), oklch(0.488 0.243 264.376));
  --chart-2: light-dark(oklch(0.6 0.118 184.704), oklch(0.696 0.17 162.48));
  --chart-3: light-dark(oklch(0.398 0.07 227.392), oklch(0.769 0.188 70.08));
  --chart-4: light-dark(oklch(0.828 0.189 84.429), oklch(0.627 0.265 303.9));
  --chart-5: light-dark(oklch(0.769 0.188 70.08), oklch(0.645 0.246 16.439));
  --radius: 0.625rem;
  --sidebar: light-dark(oklch(0.985 0 0), oklch(0.21 0.006 285.885));
  --sidebar-foreground: light-dark(oklch(0.141 0.005 285.823), oklch(0.985 0 0));
  --sidebar-primary: light-dark(oklch(0.21 0.006 285.885), oklch(0.488 0.243 264.376));
  --sidebar-primary-foreground: light-dark(oklch(0.985 0 0), oklch(0.985 0 0));
  --sidebar-accent: light-dark(oklch(0.967 0.001 286.375), oklch(0.274 0.006 286.033));
  --sidebar-accent-foreground: light-dark(oklch(0.21 0.006 285.885), oklch(0.985 0 0));
  --sidebar-border: light-dark(oklch(0.92 0.004 286.32), oklch(0.274 0.006 286.033));
  --sidebar-ring: light-dark(oklch(0.871 0.006 286.286), oklch(0.442 0.017 285.786));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  --sidebar:
    hsl(240 5.9% 10%);
  --sidebar-foreground:
    hsl(240 4.8% 95.9%);
  --sidebar-primary:
    hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground:
    hsl(0 0% 100%);
  --sidebar-accent:
    hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground:
    hsl(240 4.8% 95.9%);
  --sidebar-border:
    hsl(240 3.7% 15.9%);
  --sidebar-ring:
    hsl(217.2 91.2% 59.8%);
}


.dark-editor {
  --accentBase: var(--primary);
  --accentBgSubtle: var(--primary);
  --accentBg: var(--primary);
  --accentBgHover: var(--primary);
  --accentBgActive: var(--primary);
  --accentLine: var(--primary);
  --accentBorder: var(--primary);
  --accentBorderHover: var(--primary);
  --accentSolid: var(--primary);
  --accentSolidHover: var(--primary);
  --accentText: var(--primary-foreground);
  --accentTextContrast: var(--primary-foreground);

  --baseBase: var(--background);
  --baseBgSubtle: var(--secondary);
  --baseBg: var(--background);
  --baseBgHover: var(--accent);
  --baseBgActive: var(--accent);
  --baseLine: var(--border);
  --baseBorder: var(--border);
  --baseBorderHover: var(--border);
  --baseSolid: var(--foreground);
  --baseSolidHover: var(--foreground);
  --baseText: var(--foreground);
  --baseTextContrast: var(--foreground);

  --admonitionTipBg: var(--cyan4);
  --admonitionTipBorder: var(--cyan8);
  
  --admonitionInfoBg: var(--grass4);
  --admonitionInfoBorder: var(--grass8);

  --admonitionCautionBg: var(--amber4);
  --admonitionCautionBorder: var(--amber8);

  --admonitionDangerBg: var(--red4);
  --admonitionDangerBorder: var(--red8);

  --admonitionNoteBg: var(--accent);
  --admonitionNoteBorder: var(--border);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  color: var(--foreground);
  background: var(--background);
}


@layer components {
  .my-line-highlight span.token {
    @apply bg-neutral-border;
  }

  .prose {
    min-width: 0;

    & code {
      @apply text-secondary-text bg-neutral-bgSubtle px-1;


      &:before,
      &:after {
        content: none;
        @apply text-accent-text;
      }
    }

    & a {
      @apply text-accent-text;
      text-decoration: none;
    }

    & code[data-lexical-text] {
      @apply font-mono;
      font-size: inherit;
      font-weight: inherit;

      &:before,
      &:after {
        content: none;
      }
    }

    /* reset the prose borders */
    & [data-lexical-decorator]>table {
      table-layout: fixed;

      & td {
        vertical-align: middle;
      }

      &>thead,
      &>tfoot,
      &>tbody>tr {
        border: 0;
      }

      & [data-tool-cell] {
        padding: 1px;
        border: 0;
        line-height: 1rem;
        vertical-align: middle;
      }

      &>thead [data-tool-cell]:first-child {
        vertical-align: middle;
      }
    }

    & pre[class*="language-"] {
      overflow-x: auto;
    }

    & pre[class*="language-"],
    & code[class*="language-"] {
      @apply font-mono;
      font-size: inherit;
    }

    & pre[class*="language-"]>code {
      @apply text-sm;
      display: block;
    }

    .cm-content {
      @apply font-mono;
      @apply text-xs;
    }

    & [data-editor-type=frontmatter] {
      & table {
        margin: 0;
        font-size: inherit;
        width: auto;

        & thead,
        & tbody,
        & tfoot,
        & tr {
          border: 0;
        }
      }
    }

    & li[role=checkbox] {
      text-indent: 1.2rem;
    }

    & li[role=checkbox]::before {
      transform: translate(6px, 6px);
    }

    & li[role=checkbox]::after {
      transform: translate(6px, 6px) rotate(45deg);
    }
  }

  .api-ref-nav>a {
    @apply mb-3;
    display: block;
  }

  .api-ref-nav a::before {
    @apply rounded-sm border-neutral-text border-[1px] font-mono text-xs;
    content: ' ';
    line-height: 1rem;
    position: relative;
    display: inline-block;
    margin-inline-end: 0.5rem;
    padding: 0 0.15rem;
  }

  .api-ref-nav a[href*='types']::before {
    content: 'T';
  }

  .api-ref-nav a[href*='variables']::before {
    content: 'V';
  }

  .api-ref-nav a[href*='functions']::before {
    content: 'F';
  }

  .api-ref-nav a[href*='interfaces']::before {
    content: 'I';
  }

  .api-ref-nav a[href*='classes']::before {
    content: 'C';
  }

  .api-ref-nav>dl>dd>dl {
    @apply pl-2;
  }

  .api-ref-nav dd dd {
    @apply mb-2;
  }

  .api-ref-nav>dl>dt {
    @apply font-medium;
  }

  .in-page-nav {
    @apply border-l-accent-solid border-dotted border-l-2 pl-4 text-sm sticky top-[94px] w-48;

    p {
      @apply mb-2;

    }

    li ul {
      @apply pl-2;
    }

    li>a {
      @apply block mb-1 text-neutral-text;
    }
  }

  .doc-nav {
    & a:hover {
      @apply text-accent-text;
    }

    & a[data-current=true] {
      @apply text-accent-text cursor-default;

    }
  }

  .doc-content .homepage ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .doc-content blockquote {
    font-style: normal;
  }

  .doc-content blockquote p::before {
    content: '';
  }

  .doc-content blockquote p::after {
    content: '';
  }

  h2#classes+table,
  h2#functions+table,
  h2#interfaces+table,
  h2#type-aliases+table {

    & td:first-child,
    & tr:first-child {
      width: 50%;
    }
  }

  .feature-overview-popover {
    & a {
      @apply text-accent-text;

      & svg {
        @apply inline;
      }
    }

    & p {
      @apply mb-4;
    }
  }

  a > code {
    text-decoration: none;
    border-bottom: 1px dotted var(--blue9);
  }
}

.full-demo-mdxeditor [role=toolbar] {
  top: 74px;
}

@media (max-width: 768px) {
  .full-demo-mdxeditor [role=toolbar] {
    top: 196px;
  }
}

.full-demo-mdxeditor[class*=popupContainer] {
  z-index: 20;
}